<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">

	<title>
		{% block title %}
		{{ title }}
		{% endblock %}
	</title>

	{% block stylesheets %}
	<!-- {{ encore_entry_link_tags('app') }} -->
	{% for style in styles %}
	<link href="{{ style.href }}" rel="stylesheet" integrity="{{ style.integrity }}"
		crossorigin="{{ style.crossorigin }}">
	{% endfor %}
	{% endblock %}

	{% block javascripts %}
	<!-- {{ encore_entry_script_tags('app') }} -->
	{% for js in jss %}
	<script src="{{ js.src }}" integrity="{{ js.integrity }}" crossorigin="{{ js.crossorigin }}"></script>
	{% endfor %}
	{% endblock %}
</head>

<body>

	<div class="container-fluid">

		{% use 'components/header.html.twig' %}
		{% block header %} {{ parent() }} {% endblock %}

		{% use 'components/tab_bar.html.twig' %}
		{% block tabs %} {{ parent() }} {% endblock %}

		{% block body %}{% endblock %}

	</div>

</body>

</html>